<ion-nav-bar class="bar-positive">
 <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>  
<ion-view view-title="Venue">
  <ion-content>
    <button class="button button-royal" ng-click="edit()">Edit</button>
    <div class="item">
      <p>{{playlist.title}}</p>
      <input ng-model='playlist.title'>
    </div>

    <div>
      <span id="spanStage2">City: {{playlist.city}}</span>
      <input ng-model='playlist.city'>
    </div>
  </ion-content>
</ion-view>
</ion-nav-bar>

